.contact-links li {padding-left: 25px;}
    .contact-links li a, 
    .contact-links li i {color: #4d4d4d;}
        .contact-links li i {top: 6px;}

.social-links {margin-bottom: 45px;}
    .social-links a {padding: 5px 10px 5px 5px; font-size: 24px; color: #9e9e9e;}

.courses-links li {padding-left: 0; margin-bottom: 20px;}
    .courses-links li a {color: #4d4d4d;}
    .courses-links li i {position: static;}
        .courses-links li a strong {display: block; font-size: 17px;}