:host {
    display: block; 
    padding-left: 45px; 
    }
    h4 {
        padding-bottom: 6px;
        font-size: 26px; font-weight: 300; color: #222;
        border-bottom: 1px solid #cfcfcf;
    }
    a.active-link {text-decoration: underline;}
    ul {margin: 15px 0 40px; padding-left: 0; list-style: none;}
        ul li {position: relative; z-index: 1; padding-left: 15px;}
        ul i {position: absolute; top: 5px; left: 0px; z-index: 2; color: #ce0000;}
        ul.tag-cloud li {display: inline-block; margin-right: 8px; padding-left: 0;}
        ul.tag-cloud i {position: static; margin-right: 2px; color: #cfcfcf;}
    @media screen and (max-width: 840px) {
        :host {
            padding: 0;
        }
    }