h5 {margin: 5px 0 0; font-size: 16px; font-weight: bold;}
h6 {margin: 0; font-size: 12px; color: #757575;}
p {margin: 10px 0;}
figure {
    display: block; position: relative; z-index: 1;
    width: 120px; height: 75px; 
    background-color: #eee; background-size: cover; background-repeat: no-repeat; background-position: center center;
    -webkit-filter: grayscale(100%);
    filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='gray'><feColorMatrix in='SourceGraphic' type='saturate' values='0' /></filter></svg>#gray");
    filter:grayscale(100%); 
    }
    figure.document {width: 75px; height: 75px;}
    figure::before {
        content: '';
        display: block; width: 40px; height: 40px; 
        position: absolute; top: 50%; left: 50%; 
        margin: -20px 0 0 -20px; 
        text-align: center; font: normal normal normal 14px/1 FontAwesome; font-size: 25px; text-rendering: auto; line-height: 40px; color: #cfcfcf;
        }
        figure.video::before {content: "\f144"}
        figure.document::before {content: "\f1c1"}
.clearfix {overflow: hidden;}
date-tag, figure {float: left; margin-right: 25px; margin-bottom: 10px;}