<div *ngIf="!data" class="mdl-spinner mdl-spinner-single-color mdl-js-spinner is-active is-upgraded"></div>
    <main *ngIf="data" class="widgets mdl-grid">
        <div *ngIf="data.hasOwnProperty('event') && data.event.hasOwnProperty('posts')" class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <div class="training-events mdl-tabs mdl-js-tabs is-upgraded mdl-card mdl-shadow--2p">
                <div class="mdl-tabs__tab-bar">
                    <a class="is-active mdl-tabs__tab">Upcoming Trainings</a>
                    <a class="custom-link mdl-tabs__tab" routerLink="/trainings/events-archive">View archive <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
                <div class="is-active mdl-tabs__panel mdl-grid">
                    <section *ngIf="data.event.posts.length">
                        <loop-event *ngFor="let event of data.event.posts" [post]="event" class="single"></loop-event>
                    </section>
                    <section *ngIf="!data.event.posts.length">
                        No upcoming trainings.
                    </section>
                </div>
            </div>
        </div>

        <div *ngIf="data.hasOwnProperty('document') || data.hasOwnProperty('video')" class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <div *ngIf="data.hasOwnProperty('video') && data.video.hasOwnProperty('posts')" class="training-videos mdl-card mdl-cell--12-col mdl-shadow--2p">
                <div class="mdl-tabs is-upgraded">
                    <div class="mdl-tabs__tab-bar">
                        <a class="is-active mdl-tabs__tab">Video Tutorials</a>
                    </div>
                    <div class="is-active mdl-tabs__panel mdl-grid">
                        <section *ngIf="data.video.posts.length">
                            <loop-video *ngFor="let video of data.video.posts" [post]="video" class="single"></loop-video>
                        </section>
                        <section *ngIf="!data.video.posts.length">
                            No videos available.
                        </section>
                    </div>
                </div>
            </div>

            <div *ngIf="data.hasOwnProperty('document') && data.document.hasOwnProperty('posts')" class="training-docs mdl-cell--12-col mdl-card mdl-shadow--2p">
                <div class="mdl-tabs is-upgraded">
                    <div class="mdl-tabs__tab-bar">
                        <a class="is-active mdl-tabs__tab">Documents</a>
                    </div>
                    <div class="is-active mdl-tabs__panel mdl-grid">
                        <section *ngIf="data.document.posts.length">
                            <loop-document *ngFor="let document of data.document.posts" [post]="document" class="single"></loop-document>
                        </section>
                        <section *ngIf="!data.document.posts.length">
                            No documents available.
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>