<div *ngIf="!post" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active is-upgraded"></div>
<main *ngIf="post" class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-desktop mdl-card mdl-shadow--2p mdl-tabs is-upgraded">
        <div class="title-bar mdl-tabs__tab-bar">
            <a class="is-active mdl-tabs__tab">
                <date-tag *ngIf="post.time" [date]="post.time.start"></date-tag>
                <h1>{{ post.title.rendered }}</h1>
            </a>
        </div>
        <section class="main-placeholder content is-active mdl-tabs__panel">
            <template [ngIf]="post.featured_src">
                <img [src]="post.featured_src" [attr.alt]="post.title.rendered" class="alignnone">
            </template>
            <article [innerHtml]="content"></article>
        </section>
    </div>
    <aside *ngIf="post.hasOwnProperty('time') && post.hasOwnProperty('place')" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col">
        <sidebar-event [time]="post.time" [place]="post.place"></sidebar-event>
    </aside>
</main>