<div @viewState class="rmx-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

	<!--- HEADER -->
	<header class="rmx-header mdl-layout__header mdl-color-text--grey-600">
		<div class="mdl-layout__header-row">
			
			<search-remax></search-remax>

			<div class="mdl-layout-spacer"></div>
			<span class="agent-profile-opt" id="hdrbtn">
				<span [style.marginRight]="10">Hi, {{ user.display_name }} </span>
				<img class="agent-avatar" *ngIf="(agentAvatarObs | async) && agentAvatarUrl" [src]="agentAvatarUrl">
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
					<i class="material-icons">arrow_drop_down</i>
				</button>
			</span>
			<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
				<li class="mdl-menu__item" [routerLink]=" ['/profile/' + user.user_nicename + '/edit'] "><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit my profile</li>
				<li class="mdl-menu__item" [routerLink]=" ['/profile/' + user.user_nicename] "><i class="fa fa-user" aria-hidden="true"></i> View profile</li>
				<li class="mdl-menu__item" [routerLink]=" ['/reset-password'] "><i class="fa fa-unlock-alt" aria-hidden="true"></i> Reset Password</li>
				<li class="mdl-menu__item" (click)="onLogout()"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</li>
			</ul>
		</div>
	</header>

	<!-- NAVIGATION DRAWER -->
	<div class="rmx-drawer mdl-layout__drawer">
		<header class="rmx-drawer-header">
			<img class="logo" alt="REMAX" title="REMAX" [src]="remaxIntranetLogo">
			<span>Intranet</span>
		</header>

		<nav class="rmx-navigation mdl-navigation">
			<!-- main navigation -->
			<span class="mdl-navigation-title">Main</span>
			<ul class="menu-list">
			<template ngFor let-item [ngForOf]="wp.menu">
				<li *ngIf="item.item_parent == '0'">
					<menu-item-link [item]="item"></menu-item-link>
					<ul *ngIf="item.children.length" class="sub-menu menu-list-secondary">
						<li *ngFor="let childItem of item.children">
							<menu-item-link [item]="childItem" [child]="true"></menu-item-link>
						</li>
					</ul>
				</li>
			</template>
			</ul>

			
			<!-- usefull links go here -->
			<div class="mdl-layout-spacer"></div>
			<span class="mdl-navigation-title border-bottom">Useful links</span>
			<ul *ngIf="wp.links" class="menu-list-secondary">
			<template ngFor let-link [ngForOf]="wp.links">
				<li>
				<menu-item-link [item]="link"></menu-item-link>
				</li>
			</template>
			</ul>
		</nav>
	</div>

	<!-- CONTENT MAIN -->
	<main class="mdl-layout__content">
		<intro-section></intro-section>
		<div class="rmx-content">
			<router-outlet></router-outlet>
			<!--<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>-->
		</div>
	</main>

</div>