/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
* Layout header
*/
.search-form .mdl-textfield__input {border-bottom: none;}
.search-form i {color: #cdcdcd;}
.rmx-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.agent-avatar {
	width: 48px; height: 48px; 
	margin: 10px 0 10px 10px;
	border-radius: 50%;
}
.agent-profile-opt {cursor: pointer;}
.mdl-menu__item i {margin-right: 20px;}

@media screen and (max-width: 768px) {
	.mdl-layout__header .search-form .mdl-textfield {
		width: auto;
	}
	.agent-avatar {display: none;}
}
@media screen and (max-width: 420px) {
	.mdl-layout__header .search-form {display: none;}
}
.mdl-data-table {border: none;}

/**
* Drawer 
*/
.rmx-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.rmx-drawer .mdl-menu__container {
  z-index: -1;
}
.rmx-drawer .rmx-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.rmx-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.rmx-drawer-header {
	position: relative; z-index: 1;
	box-sizing: border-box;
	padding: 16px;
	height: 66px;
	background: #f3f3f3;
	border-bottom: 2px solid #ce0000;
	}
	.rmx-drawer-header > span {
		position: absolute; top: 0; right: 0; bottom: 0; z-index: 2;
		width: 100px;
		padding: 0 16px 0 0;
		font-size: 17px; text-transform: uppercase; color: #ffffff; 
		line-height: 64px;
		background: #333c48;
		box-sizing: border-box; 
		}
		.rmx-drawer-header > span:before {
			content: '';
			position: absolute; left: -38px; top: 0; bottom:0; z-index: -1; 
			display: block; width: 64px; background: none; 
			box-sizing:border-box; 
			border: 38px solid transparent;
			border-top: none; border-bottom: 64px solid #333c48;
		}

/**
* Navigation 
*/
.mdl-layout__drawer .mdl-navigation.rmx-navigation {
  flex-grow: 1;
  padding-top: 40px;
  color: #c5d0de;
  background-color: #333c48;
}
.rmx-layout .rmx-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.rmx-navigation .mdl-navigation__link .material-icons {
	font-size: 24px;
	margin-right: 15px;
	}
	.rmx-navigation .mdl-navigation__link .material-icons.fa-newspaper-o {font-size: 19px;}
	.rmx-navigation .mdl-navigation__link .material-icons.fa-graduation-cap {
		margin-right: 11px; 
		font-size: 20px;
	}
	.rmx-navigation .mdl-navigation__link .material-icons.fa-lightbulb-o {width: 23px; text-align: center;}
.rmx-navigation .mdl-navigation-title {
	padding: 0 25px; margin: 0 0 10px;
	text-transform: uppercase; font-size: 11px; color: #c5d0de;
	}
	.rmx-navigation .mdl-navigation-title.border-bottom {
		padding-bottom: 7px;
		border-bottom: 1px solid #4b535d;
	}
.rmx-navigation ul.menu-list {
	margin: 0 0 30px; padding: 0;
	line-height: normal;
	list-style: none;
	}
	.rmx-navigation ul.menu-list > li {
		background: #2b333e;
		 border-bottom: 1px solid #444b54
	}
		.rmx-navigation ul.menu-list > li:last-child {border-bottom: 0;}

.rmx-navigation ul li a.active-link {
	color: #ffffff !important;
	text-shadow: 1px 0px #fff;
	}
.rmx-navigation ul.menu-list-secondary {
	padding: 0;
	margin: 0 0 10px; list-style: none;
}
.rmx-navigation ul.menu-list-secondary.sub-menu {padding-left: 40px;}
	.rmx-navigation ul.menu-list-secondary li a {
		position: relative;
		padding: 5px 25px !important;
		}
		.rmx-navigation ul.menu-list-secondary li a:before {
			content: "";
			display: block; width: 8px; height: 8px; 
			margin-right: 3px;
			border: 4px solid transparent; border-left-color: #606974;
			box-sizing:border-box;
		}
		.rmx-navigation ul.sub-menu li a:hover {color: #fff; background: none !important;}


/**
* Content 
*/
.rmx-content {
  max-width: 1500px;
  padding: 30px;
}
.main-placeholder {padding: 35px;}
.rmx-updates .mdl-card__title {
  min-height: 200px;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.rmx-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.rmx-options h3 {
  margin: 0;
}
.rmx-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.rmx-options ul {
  margin: 0;
  list-style-type: none;
}
.rmx-options li {
  margin: 4px 0;
}
.rmx-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.rmx-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

/**
* Temporary dev app-state 
*/
pre.app-state {
  position: fixed; z-index: 9999; bottom: 0; right: 0;
  max-width: 300px; max-height: 30%; overflow: auto; 
  padding: 30px; margin: 0;
  color: limegreen; font-size: 10px; 
  background: #111;
}


.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block; height: 0; overflow: hidden;
}
.clearfix:after {clear: both;}


/**
* Widgets 
*/

    .widgets section { padding: 20px 40px 65px; }
    .widgets section article { 
        padding: 25px 0 20px; 
        border-bottom: 1px solid #eee;
        overflow: hidden;
    }
    .widgets section .single:last-child article {border-bottom: none;}

		.widgets .news-widget .single figure {float: left; margin-right: 30px; margin-bottom: 20px;}
				.widgets .news-widget .single figure img {
					width: 120px; height: 75px; 
				}
				.widgets .news-widget .single figure i {font-size: 24px; margin-top: -12px;}
		.widgets .news-widget .single h5 {margin: 0;}
		.widgets .news-widget .single .post-title h5 {margin: 0 0 5px; font-size: 16px; font-weight: bold;}
		.widgets .news-widget .single .post-excerpt {margin: 10px 0; overflow: hidden;}
		.widgets .news-widget .single .footer {display: none;}

    @media screen and (max-width: 1389px) {
        .widgets section {padding: 10px 20px 40px;}
        .widgets .mdl-tabs__tab {padding: 0 30px;}
    }
    @media screen and (max-width: 640px) {
        .widgets section article {padding-top: 10px; padding-bottom: 15px;}
        .widgets article date-tag, 
        .widgets article figure {float: none !important; margin: 0 auto 20px !important;}
		.widgets .news-widget .single figure img {width: 100%; height: auto;}
        .widgets .mdl-tabs__tab-bar a.mdl-tabs__tab.custom-link {top: auto; bottom: 0;}
    }

		@media (max-width: 839px) and (min-width: 480px) {
			.mdl-cell {width: 100% !important}
		}
		@media (max-width: 480px) {
			.main-placeholder {padding: 15px;}
			.rmx-content {padding: 0;}
		}
