// ==========================================================================
// $Shame
// @see http://csswizardry.com/2013/04/shame-css/
// Thanks https://github.com/heroheman/shepherd/blob/master/sass/_shame.scss
// ==========================================================================

// ==========================================================================
// because hacks happen.
//
// be very specific about what each piece of code is doing, and
// how to better fix it later
// ==========================================================================

// Try:  $ git blame _shame.scss

// Rules:
// ---------------
//   1. If it’s a hack, it goes in _shame.scss.
//   2. Document all hacks fully:
//   3. What part of the codebase does it relate to?
//   4. Why was this needed?
//   5. How does this fix it?
//   6. How might you fix it properly, given more time?
//   7. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//   8. Try and clean _shame.scss up when you have some down time.

// Example:
// ---------------
// Nav specificity fix.

// Someone used an ID in the header code (`#header a{}`) which trumps the
// nav selectors (`.site-nav a{}`). Use !important to override it until I
// have time to refactor the header stuff.

// .site-nav a { color:#BADA55!important; }


/*wp img aligments*/
    img.alignleft,img.alignright,img.alignnone,
    .alignleft, .alignright, .alignnone,
    .alignleft img, .alignright img, .alignnone img{
        display:block;width:auto !important;height:auto;
        margin:0 20px 20px;
        }
        .alignleft img, .alignright img, .alignnone img{margin:0;padding:0;box-shadow: none;}
    .content img{
        display:block;width:auto;max-width:94%;height:auto;
        padding:5px;
        background:#ffffff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        box-sizing:border-box; 
        }

    .aligncenter{display: block; margin:0 auto 20px !important;}
    .alignleft{float:left;margin-left:0 !important;}
    .alignright{float:right;margin-right:0 !important;}
    p.wp-caption-text,
    .content p.wp-caption-text {
        padding:8px 8px 4px;margin:0;
        font-size:14px;text-align:center;color:#aeaeae;font-style: italic;line-height: 1;
        }
