/*!
 * Quill Editor v1.0.0-beta.2
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
}
.ql-clipboard {
  left: -100000px;
  position: absolute;
  top: 50%;
}
.ql-editor {
  box-sizing: border-box;
  cursor: text;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
}
.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8;
}
.ql-editor ol {
  padding-left: 20px;
}
.ql-editor ul {
  padding-left: 8px;
  list-style: disc inside;
}
.ql-editor ol > li {
  list-style-type: none;
}
.ql-editor ol {
  list-style-type: none;
  position: relative;
}
.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8;
  counter-increment: list-num;
}
.ql-editor ol li:before {
  content: counter(list-num, decimal) '. ';
  margin-right: -16px;
  position: absolute;
  right: 100%;
  text-align: right;
}
.ql-editor ol li.ql-indent-1 {
  counter-increment: list-1;
}
.ql-editor ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) '. ';
  margin-right: -56px;
}
.ql-editor ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8;
}
.ql-editor ol li.ql-indent-2 {
  counter-increment: list-2;
}
.ql-editor ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) '. ';
  margin-right: -96px;
}
.ql-editor ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8;
}
.ql-editor ol li.ql-indent-3 {
  counter-increment: list-3;
}
.ql-editor ol li.ql-indent-3:before {
  content: counter(list-3, decimal) '. ';
  margin-right: -136px;
}
.ql-editor ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8;
}
.ql-editor ol li.ql-indent-4 {
  counter-increment: list-4;
}
.ql-editor ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) '. ';
  margin-right: -176px;
}
.ql-editor ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8;
}
.ql-editor ol li.ql-indent-5 {
  counter-increment: list-5;
}
.ql-editor ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) '. ';
  margin-right: -216px;
}
.ql-editor ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8;
}
.ql-editor ol li.ql-indent-6 {
  counter-increment: list-6;
}
.ql-editor ol li.ql-indent-6:before {
  content: counter(list-6, decimal) '. ';
  margin-right: -256px;
}
.ql-editor ol li.ql-indent-6 {
  counter-reset: list-7 list-8;
}
.ql-editor ol li.ql-indent-7 {
  counter-increment: list-7;
}
.ql-editor ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) '. ';
  margin-right: -296px;
}
.ql-editor ol li.ql-indent-7 {
  counter-reset: list-8;
}
.ql-editor ol li.ql-indent-8 {
  counter-increment: list-8;
}
.ql-editor ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) '. ';
  margin-right: -336px;
}
.ql-editor .ql-indent-1 {
  padding-left: 40px;
}
.ql-editor .ql-indent-2 {
  padding-left: 80px;
}
.ql-editor .ql-indent-3 {
  padding-left: 120px;
}
.ql-editor .ql-indent-4 {
  padding-left: 160px;
}
.ql-editor .ql-indent-5 {
  padding-left: 200px;
}
.ql-editor .ql-indent-6 {
  padding-left: 240px;
}
.ql-editor .ql-indent-7 {
  padding-left: 280px;
}
.ql-editor .ql-indent-8 {
  padding-left: 320px;
}
.ql-editor .ql-video {
  display: block;
}
.ql-editor .ql-video.ql-align-center {
  margin: 0 auto;
}
.ql-editor .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
.ql-editor .ql-bg-black {
  background-color: #000;
}
.ql-editor .ql-bg-red {
  background-color: #e60000;
}
.ql-editor .ql-bg-orange {
  background-color: #f90;
}
.ql-editor .ql-bg-yellow {
  background-color: #ff0;
}
.ql-editor .ql-bg-green {
  background-color: #008a00;
}
.ql-editor .ql-bg-blue {
  background-color: #06c;
}
.ql-editor .ql-bg-purple {
  background-color: #93f;
}
.ql-editor .ql-color-white {
  color: #fff;
}
.ql-editor .ql-color-red {
  color: #e60000;
}
.ql-editor .ql-color-orange {
  color: #f90;
}
.ql-editor .ql-color-yellow {
  color: #ff0;
}
.ql-editor .ql-color-green {
  color: #008a00;
}
.ql-editor .ql-color-blue {
  color: #06c;
}
.ql-editor .ql-color-purple {
  color: #93f;
}
.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}
.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}
.ql-editor .ql-size-small {
  font-size: 10px;
}
.ql-editor .ql-size-large {
  font-size: 18px;
}
.ql-editor .ql-size-huge {
  font-size: 32px;
}
.ql-editor .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}
.ql-editor .ql-align-center {
  text-align: center;
}
.ql-editor .ql-align-justify {
  text-align: justify;
}
.ql-editor .ql-align-right {
  text-align: right;
}
.ql-editor.ql-blank::before {
  color: rgba(0,0,0,0.6);
  content: attr(data-placeholder);
  font-style: italic;
  pointer-events: none;
  position: absolute;
}
.ql-hidden {
  display: none;
}
.ql-tooltip {
  position: absolute;
}
.ql-tooltip a {
  cursor: pointer;
  text-decoration: none;
}
.ql-toolbar:before,
.ql-toolbar:after {
  content: ' ';
  display: table;
}
.ql-toolbar:after {
  clear: both;
}
.ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 24px;
  outline: none;
  padding: 3px 5px;
  width: 24px;
}
.ql-toolbar button svg {
  height: 100%;
}
.ql-toolbar .ql-stroke {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.ql-toolbar .ql-stroke-mitter {
  fill: none;
  stroke-mitterlimit: 10;
  stroke-width: 2;
}
.ql-toolbar .ql-empty {
  fill: none;
}
.ql-toolbar .ql-even {
  fill-rule: evenodd;
}
.ql-toolbar .ql-thin,
.ql-toolbar .ql-stroke.ql-thin {
  stroke-width: 1;
}
.ql-toolbar .ql-transparent {
  opacity: 0.4;
}
.ql-editor h1 {
  font-size: 2em;
}
.ql-editor h2 {
  font-size: 1.5em;
}
.ql-editor h3 {
  font-size: 1.17em;
}
.ql-editor h4 {
  font-size: 1em;
}
.ql-editor h5 {
  font-size: 0.83em;
}
.ql-editor h6 {
  font-size: 0.67em;
}
.ql-editor pre {
  white-space: pre-wrap;
}
.ql-editor a {
  text-decoration: underline;
}
.ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}
.ql-editor pre.hljs {
  overflow: visible;
}
.ql-editor code,
.ql-editor pre:not(.hljs) {
  background-color: #f0f0f0;
}
.ql-editor code,
.ql-editor pre {
  border-radius: 3px;
}
.ql-editor code {
  font-size: 85%;
  padding-bottom: 2px;
  padding-top: 2px;
}
.ql-editor code:before,
.ql-editor code:after {
  content: "\A0";
  letter-spacing: -2px;
}
.ql-editor *:not(pre) + pre,
.ql-editor pre:first-of-type {
  margin-top: 5px;
  padding-top: 5px;
}
.ql-editor pre {
  margin-bottom: 5px;
  padding: 0px 10px 5px;
}
.ql-editor pre + pre {
  margin-top: -10px;
}
.ql-editor img {
  max-width: 100%;
}
.ql-snow .ql-image-tooltip {
  padding: 10px;
  text-align: center;
  width: 300px;
}
.ql-snow .ql-image-tooltip input[type=text] {
  height: 30px;
  width: 100%;
}
.ql-snow .ql-image-tooltip a.ql-cancel,
.ql-snow .ql-image-tooltip a.ql-action {
  border: 1px solid #06c;
  display: inline-block;
  float: left;
  line-height: 18px;
  padding: 5px;
  width: 50%;
}
.ql-snow .ql-image-tooltip a.ql-cancel::before {
  color: #06c;
  content: 'Cancel';
}
.ql-snow .ql-image-tooltip a.ql-action {
  background-color: #06c;
}
.ql-snow .ql-image-tooltip a.ql-action::before {
  color: #fff;
  content: 'Insert';
}
.ql-snow .ql-image-tooltip .ql-preview {
  height: 200px;
  margin: 10px 0px;
  position: relative;
}
.ql-snow .ql-image-tooltip .ql-preview img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.ql-snow .ql-image-tooltip .ql-empty.ql-preview::before {
  border: 1px dashed #ccc;
  color: #ccc;
  content: 'Preview';
  display: block;
  line-height: 200px;
}
.ql-snow .ql-link-tooltip::before {
  content: "Visit URL:";
  line-height: 26px;
  margin-right: 8px;
}
.ql-snow .ql-link-tooltip {
  padding: 5px 12px;
  white-space: nowrap;
}
.ql-snow .ql-link-tooltip input[type=text] {
  display: none;
  height: 26px;
  width: 170px;
}
.ql-snow .ql-link-tooltip a.ql-preview {
  display: inline-block;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.ql-snow .ql-link-tooltip a.ql-action::before {
  color: #444;
  content: '-';
  line-height: 26px;
  margin-left: 8px;
}
.ql-snow .ql-link-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: 'Edit';
  margin-left: 8px;
  padding-right: 8px;
}
.ql-snow .ql-link-tooltip a.ql-remove::before {
  content: 'Remove';
  margin-left: 8px;
}
.ql-snow .ql-link-tooltip a {
  line-height: 26px;
}
.ql-snow .ql-link-tooltip.ql-editing a.ql-preview,
.ql-snow .ql-link-tooltip.ql-editing a.ql-remove {
  display: none;
}
.ql-snow .ql-link-tooltip.ql-editing input[type=text] {
  display: inline-block;
}
.ql-snow .ql-link-tooltip.ql-editing a.ql-action::after {
  border-right: 0px;
  content: 'Save';
  padding-right: 0px;
}
.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
}
.ql-toolbar.ql-snow * {
  box-sizing: border-box;
}
.ql-toolbar.ql-snow .ql-formats {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.ql-toolbar.ql-snow button:hover,
.ql-toolbar.ql-snow button.ql-active,
.ql-toolbar.ql-snow .ql-picker-label:hover,
.ql-toolbar.ql-snow .ql-picker-label.ql-active,
.ql-toolbar.ql-snow .ql-picker-item:hover,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected {
  color: #06c;
}
.ql-toolbar.ql-snow button:hover .ql-fill,
.ql-toolbar.ql-snow button.ql-active .ql-fill,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-fill,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-fill,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-fill,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-fill,
.ql-toolbar.ql-snow button:hover .ql-stroke.ql-fill,
.ql-toolbar.ql-snow button.ql-active .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #06c;
}
.ql-toolbar.ql-snow button:hover .ql-stroke,
.ql-toolbar.ql-snow button.ql-active .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-stroke,
.ql-toolbar.ql-snow button:hover .ql-stroke-mitter,
.ql-toolbar.ql-snow button.ql-active .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-stroke-mitter {
  stroke: #06c;
}
.ql-toolbar.ql-snow .ql-stroke {
  stroke: #444;
}
.ql-toolbar.ql-snow .ql-stroke-mitter {
  stroke: #444;
}
.ql-toolbar.ql-snow .ql-fill,
.ql-toolbar.ql-snow .ql-stroke.ql-fill {
  fill: #444;
}
.ql-toolbar.ql-snow .ql-direction svg:last-child {
  display: none;
}
.ql-toolbar.ql-snow .ql-direction.ql-active svg:last-child {
  display: inline;
}
.ql-toolbar.ql-snow .ql-direction.ql-active svg:first-child {
  display: none;
}
.ql-toolbar.ql-snow .ql-picker {
  color: #444;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  position: relative;
  vertical-align: middle;
}
.ql-toolbar.ql-snow .ql-picker-label {
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 8px;
  padding-right: 2px;
  position: relative;
  width: 100%;
}
.ql-toolbar.ql-snow .ql-picker-label svg {
  float: right;
  height: 18px;
  margin-top: 2px;
  width: 18px;
}
.ql-toolbar.ql-snow .ql-picker-label::before {
  vertical-align: middle;
}
.ql-toolbar.ql-snow .ql-picker-options {
  background-color: #fff;
  border: 1px solid transparent;
  display: none;
  min-width: 100%;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
}
.ql-toolbar.ql-snow .ql-picker-options .ql-picker-item {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #ccc;
  color: #ccc;
  z-index: 2;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
  fill: #ccc;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: #ccc;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: #ccc;
  box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
  display: block;
  margin-top: -1px;
  z-index: 1;
}
.ql-toolbar.ql-snow .ql-color-picker,
.ql-toolbar.ql-snow .ql-icon-picker {
  width: 28px;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-label,
.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-label {
  padding: 2px 4px;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-label svg {
  margin-top: 0px;
}
.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-options {
  padding: 4px 0px;
}
.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-item {
  height: 24px;
  padding: 2px 4px;
}
.ql-toolbar.ql-snow .ql-color-picker.ql-expanded .ql-picker-options,
.ql-toolbar.ql-snow .ql-icon-picker.ql-expanded .ql-picker-options {
  margin-top: -6px;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-options {
  padding: 5px;
  width: 152px;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item {
  border: 1px solid transparent;
  float: left;
  height: 16px;
  margin: 2px;
  padding: 0px;
  width: 16px;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-primary-color {
  margin-bottom: toolbarPadding;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
  border-color: #000;
}
.ql-toolbar.ql-snow .ql-picker.ql-header {
  width: 98px;
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Normal';
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: 'Heading 1';
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: 'Heading 2';
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: 'Heading 3';
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: 'Heading 4';
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: 'Heading 5';
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: 'Heading 6';
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  font-size: 2em;
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  font-size: 1.5em;
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  font-size: 1.17em;
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  font-size: 1em;
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  font-size: 0.83em;
}
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  font-size: 0.67em;
}
.ql-toolbar.ql-snow .ql-picker.ql-font {
  width: 108px;
}
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: 'Sans Serif';
}
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: 'Serif';
}
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: 'Monospace';
}
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  font-family: Georgia, Times New Roman, serif;
}
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  font-family: Monaco, Courier New, monospace;
}
.ql-toolbar.ql-snow .ql-picker.ql-size {
  width: 98px;
}
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-options > span::before {
  content: 'Normal';
}
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: 'Small';
}
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 'Large';
}
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 'Huge';
}
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  font-size: 10px;
}
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  font-size: 18px;
}
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  font-size: 32px;
}
.ql-toolbar.ql-snow .ql-color-picker.ql-background .ql-picker-item {
  background-color: #fff;
}
.ql-toolbar.ql-snow .ql-color-picker.ql-color .ql-picker-item {
  background-color: #000;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
}
.ql-snow .ql-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ddd;
  color: #444;
}
.ql-snow .ql-tooltip input[type=text] {
  border: 1px solid #ccc;
  font-size: 13px;
  margin: 0px;
  padding: 3px 5px;
}
.ql-container.ql-snow {
  border: 1px solid #ccc;
}
.ql-container.ql-snow a {
  color: #06c;
}
.ql-container.ql-snow * {
  box-sizing: border-box;
}