<div *ngIf="!data" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
<main *ngIf="data" class="mdl-grid widgets">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
      <!-- WELCOME -->
        <div *ngIf="data.hasOwnProperty('welcome')" class="widget welcome-widget mdl-tabs is-upgraded mdl-card mdl-shadow--2p mdl-cell--12-col">
            <div class="mdl-tabs__tab-bar">
                <a class="is-active mdl-tabs__tab">Welcome</a>
            </div>
            <div class="is-active mdl-tabs__panel mdl-grid">
                <section>
                    <figure>
                        <img [src]="data.welcome.img" alt="Welcome - Remax Intranet">
                    </figure>
                    <div class="text" [innerHtml]="data.welcome.desc"></div>
                </section>
            </div>
        </div>
        <!-- WELCOME END -->


        <!-- AGENTS START -->
        <div *ngIf="agentRankings" class="widget agent-rankings mdl-card mdl-cell--12-col mdl-shadow--2p">
            <div class="mdl-tabs is-upgraded">
                <div class="mdl-tabs__tab-bar">
                    <a class="is-active mdl-tabs__tab">Agents Top 10 Leader Board</a>
                    <a class="custom-link mdl-tabs__tab" routerLink="/agent-rankings">View more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
                <div class="is-active mdl-tabs__panel">
                    <div class="mdl-grid">
                    <div *ngFor="let table of agentRankings" class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col">
                        <h4>{{ table.slug }}</h4>
                        <table 
                            *ngIf="table.agents | async"
                            class="mdl-data-table mdl-js-data-table"
                        >
                            <thead>
                                <th class="mdl-data-table__cell--non-numeric">No.</th>
                                <th class="mdl-data-table__cell--non-numeric">Name</th>
                                <th>Award</th>
                            </thead>
                            <tbody>
                                <tr 
                                    *ngFor="let agent of (table.agents | async); let i=index" 
                                    [routerLink]="['/profile/' + agent.slug]"
                                >
                                    <td class="mdl-data-table__cell--non-numeric">{{ i +1 }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ agent.name }}</td>
                                    <td>{{ agent.award | award }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- .mdl-cell -->
                    </div><!-- .mdl-grid -->
                </div>
            </div>
        </div>
        <!-- AGENTS END -->

        
    </div>

    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">

        <!-- NEWS -->
        <div *ngIf="data.hasOwnProperty('news')" class="news-widget widget mdl-tabs mdl-js-tabs is-upgraded mdl-cell--12-col mdl-card mdl-shadow--2p">
            <div class="mdl-tabs__tab-bar">
                <a *ngFor="let tab of data.news" [routerLink]=" ['/home', {'news-tab': tab.category_id}] " class="mdl-tabs__tab" [ngClass]="currentNewsTab === tab.category_id ? 'is-active' : ''">{{ tab.category_name }}</a>

                <a class="custom-link mdl-tabs__tab" routerLink="/news">View more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <section *ngFor="let tab of data.news" [attr.id]="tab.category_id" [ngClass]="currentNewsTab === tab.category_id ? 'is-active' : ''" class="mdl-tabs__panel mdl-grid">
                <loop-post *ngFor="let newsPost of tab.posts" [post]="newsPost" class="single"></loop-post>
            </section>
        </div>
        <!-- NEWS END -->

        <!-- TRAINING EVENTS -->
        <div *ngIf="data.hasOwnProperty('trainings')" class="widget mdl-cell--12-col mdl-card mdl-shadow--2p">
            <div class="mdl-tabs is-upgraded">
                <div class="mdl-tabs__tab-bar">
                    <a class="is-active mdl-tabs__tab">Training Dates</a>
                    <a class="custom-link mdl-tabs__tab" routerLink="/trainings/events-archive">View archive <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
                <div class="is-active mdl-tabs__panel mdl-grid">
                    <section *ngIf="data.trainings.length">
                        <loop-event *ngFor="let training of data.trainings" [post]="training" class="single"></loop-event>
                    </section>
                    <section *ngIf="!data.trainings.length">
                        No upcoming trainings.
                    </section>
                </div>
            </div>
        </div>
        <!-- TRAINING EVENTS END -->
    </div>
</main>