/*styles for home content only*/
.widget {margin-bottom: 30px; width: 100%;}
    .widgets section { padding-bottom: 30px; }
    .widget section article {
        padding: 15px 0 20px;
    }
    .widget section#company-news article {padding-bottom: 0}
    .widget.agent-rankings h4 {
        margin: 0;
        text-transform: capitalize; font-weight: bold;
        }
    .widget.agent-rankings .mdl-grid {padding: 16px;}
        .widget.agent-rankings .mdl-cell {padding: 10px; overflow: auto;}
        .widget.agent-rankings table {width: 100%; margin-bottom: 40px;}

.news-widget.widget .mdl-tabs__tab-bar > a.custom-link {
    top: auto; bottom: 0;
}
.news-widget.widget section {padding-bottom: 45px;}


.welcome-widget section {overflow: hidden;}
    .welcome-widget section figure {
        float: left; margin-right: 35px; margin-bottom: 35px;
        width: 144px; height: 144px; 
        border-radius: 50%; overflow: hidden; 
        }
        .welcome-widget section figure img {display: block; min-height: 100%; min-width: 100%}
    .welcome-widget section div.text {overflow: hidden;}

@media screen and (max-width: 640px) {
    .welcome-widget section figure {float: none; margin: 0 auto 25px;}
}