.auth-form {
    position: relative; z-index: 3;
    width: 100%; 
    text-align: center;
}
.auth-form .mdl-textfield, 
.auth-form input[type=text], 
.auth-form input[type=password] {width: 100%;}

.additional {margin-bottom: 35px;}
    .additional .mdl-checkbox {
        float: left; width: auto;
    }
    .additional > a {float: right;}

.mdl-cell.form-holder {position: relative; padding-top: 50px;}
figure.remax-balloon {
    position: absolute; left: 0; top: 125px; z-index: 1;
    width: 63%; 
    margin-left: -56%;
    transform: rotate(-17deg);
    opacity: 0.7;
}

@media (width: 839px) {
    figure.remax-balloon {display: none;}
}