<div *ngIf="!user" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active is-upgraded"></div>
<main *ngIf="user" class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2p mdl-tabs is-upgraded">
        <section class="main-placeholder content">
            <article [innerHtml]="user.bio"></article>
            <template [ngIf]="!user.bio"><p>This agent has no description yet.</p></template>

            <template [ngIf]="viewer && (user.id == viewer.ID || viewer.roles.indexOf('administrator') > -1)">
                <a [routerLink]="['/profile/' + user.slug + '/edit']"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
            </template>
        </section>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
        <profile-sidebar [contact]="user.contact" [social]="user.social" [courses]="user.courses"></profile-sidebar>
    </div>
</main>