<div *ngIf="!panels" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active is-upgraded"></div>

<main class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2p">
        <div *ngIf="panels" class="mdl-tabs mdl-js-tabs is-upgraded">
            <div class="mdl-tabs__tab-bar">
                <a 
                    *ngFor="let type of allTabs" 
                    [routerLink]="['/agent-rankings', {tab: type}]" 
                    class="mdl-tabs__tab" 
                    [ngClass]="{'is-active': currentTab === type}"
                >{{ type }}</a>
            </div>

            <div 
                *ngFor="let panel of panels"
                class="mdl-tabs__panel" 
                [attr.id]="panel.slug" 
                [ngClass]="{'is-active': currentTab === panel.slug}"
            >
                <div class="mdl-grid rankings">

                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-desktop">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <th class="mdl-data-table__cell--non-numeric">No.</th>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Office name</th>
                        <th class="mdl-data-table__cell--non-numeric">Nr of Props</th>
                        <th>Award</th>
                    </thead>
                    <tbody>
                        <tr 
                            *ngFor="let agent of (panel.agents | async); let i=index" 
                            [routerLink]="['/profile/' + agent.slug]"
                        >
                            <td class="mdl-data-table__cell--non-numeric">{{ i + 1 }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ agent.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ agent.office ? agent.office : '---' }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ agent.props }}</td>
                            <td>{{ agent.award | award }}</td>
                        </tr>
                    </tbody>
                </table>
                </div><!-- .mdl-cell -->
                
                <div class="mdl-cell mdl-cell--10-col mdl-cell--3-col-desktop">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <th class="mdl-data-table__cell--non-numeric" colspan="3">Top This Week</th>
                    </thead>
                    <tbody>
                        <tr 
                            *ngFor="let agent of (panel.topThisWeek | async); let i=index" 
                            [routerLink]="['/profile/' + agent.slug]"
                        >
                            <td class="mdl-data-table__cell--non-numeric">{{ i + 1 }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ agent.name }}</td>
                            <td>
                                +{{ agent.bonus }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div><!-- .mdl-cell -->

                </div><!-- .mdl-grid -->
            </div>
        </div>
    </div>
</main>