<div *ngIf="!posts" class="mdl-spinner mdl-js-spinner is-active is-upgraded"></div>
<main *ngIf="posts" class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2p">
        <section class="main-placeholder">
            <template [ngIf]="posts">
                <div *ngFor="let post of posts" class="post-item">
                    <loop-post [post]="post"></loop-post>
                </div>
            </template>
        </section>

        <prev-next *ngIf="posts" [links]="prevNextLinks"></prev-next>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
        <news-sidebar></news-sidebar>
    </div>
</main>