.main-placeholder {
    display: -ms-flexbox;
	/*-ms-flex-direction: column;*/
	-ms-flex-wrap: wrap;
	display: flex;
	/*flex-direction: column;*/
	flex-wrap: wrap;
    font-size: 0;
}
.post-item {
    width: 33.3%;
    }

@media screen and (max-width: 1440px) {
    .post-item {width: 50%}
}
@media screen and (max-width: 480px) {
    .main-placeholder {display: block;}
    .post-item {width: 100%}
}