<div *ngIf="!post" class="mdl-spinner mdl-js-spinner is-active is-upgraded"></div>
<main *ngIf="post" class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2p mdl-tabs is-upgraded">
        <div *ngIf="post.type === 'post'" class="title-bar mdl-tabs__tab-bar">
            <a class="is-active mdl-tabs__tab">
                <h1>{{ post.title.rendered }}</h1>
                <post-meta [post]="post"></post-meta>
            </a>
        </div>
        <section class="main-placeholder content">
            <template [ngIf]="post.featured_src">
                <img class="alignleft" [src]="post.featured_src" [attr.alt]="post.title.rendered">
            </template>
            <article [innerHtml]="post.content.rendered"></article>
        </section>
    </div>
    <div *ngIf="post.type === 'post'" class="mdl-cell mdl-cell--3-col">
        <news-sidebar></news-sidebar>
    </div>
</main>