#training-types-select label, 
#training-types-select input, 
.training-type-icon:before {
    display: inline-block; vertical-align: middle;
    line-height: 30px; 
}
.training-type-icon:before {
    content: "\f323";
    margin: -4px 10px 0 5px; 
    font-family: dashicons; font-size: 20px; line-height: 40px; color: #006799;
    }
    .training-type-icon[for="ttype-19"]:before {content: "\f235";}
    .training-type-icon[for="ttype-18"]:before {content: "\f508";}
    .training-type-icon[for="ttype-17"]:before {content: "\f123";}


/**
* Training types toggle visiblity classes 
*/
.post-type-trainings #training-event, 
.post-type-trainings #training-video, 
.post-type-trainings #training-document, 
.post-type-trainings #postdivrich {
    position: absolute; left: -99999px; 
    height: 0; overflow: hidden;
    visibility: hidden;
    }
    #training-event.showEl, 
    #training-video.showEl, 
    #training-document.showEl, 
    #postdivrich.showEl {
        position: relative; left: auto; 
        height: auto; overflow: visible; 
        visibility: visible;
    }

.etl-meta textarea{width:100%;resize:vertical;}
#etl_map_holder{width:100%; height: 350px;}
.notification-pane{display:none;}

.etl-meta .form-table tr.date-time > td:first-child{width:210px;}
.etl-meta .two-cols {overflow:hidden;}
.etl-meta .two-cols .col{float:left;}
.etl-meta .two-cols .col i{margin:0 2px 0 7px;}
.etl-meta select{margin:0 5px;}

#pac-input {
    margin: 7px; padding: 5px 20px;
    width: 400px;
    font-size: 15px; font-weight: 300; text-overflow: ellipsis;
    background-color: #fff;
}

/**
* Agent rankings subpage 
*/
#agent-rankings-subpage #poststuff #post-body.columns-2 {margin-right: 430px;}
#agent-rankings-subpage #post-body.columns-2 #postbox-container-1 {margin-right: -425px; width: 400px;}

@media (max-width: 768px) {
    #agent-rankings-subpage #poststuff #post-body.columns-2 {margin-right: 0px;}
    #agent-rankings-subpage #post-body.columns-2 #postbox-container-1 {margin-right: 0; width: 100%; float: none;}
}