@viewport { width: device-width; }

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  background-color: $color-background;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: normal; color: #222;
}

a:hover {text-shadow: 0 0px 0px #0053a0;}
a * {color: inherit;}

/**
* Loading animation 
*/
@-webkit-keyframes logoPulse {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes logoPulse {
	0% {opacity: 1;}
	50% {opacity: .3;}
	100% {opacity: .9;}
}
app {
	// position: absolute; z-index: 1; top: 0; left: 0; 
	// width: 100%; height: 100%;
	// display: block; 
	// background: #ffffff;

	.logo-loading {
		position: fixed; top: 50%; left: 50%; z-index: 3;
		width: 300px; height: 85px; 
		margin-left: -150px; margin-top: -42.5px;
		background-position: 50% 50%; background-repeat: no-repeat; 
		background-size: contain;
		-webkit-animation: logoPulse 5s infinite;
		animation: logoPulse 5s infinite;
	}
}

.content {
	h1 {font-size: 32px; font-weight: 600; margin: 0 0 15px;}
	h2 {font-size: 26px; font-weight: 200; margin-bottom: 25px;}
	h3 {color: #ce0000; font-size: 22px; font-weight: bold;}
	h4 {font-size: 20px; font-weight: 400;}
	h5 {font-size: 16px; font-weight: 300;}
	h6 {font-size: 14px; font-weight: bold;}

	ul {
		margin: 0 0 25px; padding: 0; list-style: none; 
		li {
			position: relative; 
			margin-bottom: 5px; padding-left: 20px;
			&:before {
				content: "\f105";
				position: absolute; top: 5px; left: 4px;
				display: block; 
				font: normal normal normal 14px/1 FontAwesome; color: #be0000;
				font-size: inherit; text-rendering: auto; 
			}
		}
	}
}

iframe {
	max-width: 100%;
}
.mdl-textfield {width: auto;}

.title-bar {
	&.mdl-tabs__tab-bar {height: auto;}
	.mdl-tabs__tab {
		height: auto;
		padding: 35px;
		text-transform: none;
		h1 {text-align: left; font-size: 32px; font-weight: 600; margin: 0;}
		h5 {
			margin: 10px 0; text-align: left;
		}
	}
}